<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>783659915415-dveaa4c46qbff1s763jcsrq598jfhlat.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.783659915415-dveaa4c46qbff1s763jcsrq598jfhlat</string>
	<key>API_KEY</key>
	<string>AIzaSyCtKwe2-qYOawEX2JVoRevMrUTB2EU0ngM</string>
	<key>GCM_SENDER_ID</key>
	<string>783659915415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bun-hironobu.ripLove</string>
	<key>PROJECT_ID</key>
	<string>riplove-15efe</string>
	<key>STORAGE_BUCKET</key>
	<string>riplove-15efe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783659915415:ios:9e131d8d2f5a91a30231d2</string>
	<key>DATABASE_URL</key>
	<string>https://riplove-15efe.firebaseio.com</string>
</dict>
</plist>